 <br/>
<div class="centerDiv">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/background3.jpg">
              <span class="card-title">Sign in</span>
            </div>
            <div class="card-content">
                
                 <div class="row">
                    <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                    </div>
                </div>
               
                <div class="row">

                    <a class="waves-effect waves-light btn-large right"><i class="material-icons right">trending_flat</i>Sign in</a>
                   
                </div>
            </div>
        </div>
      </div>